@keyframes example {
    from {background-color: cadetblue;}
    to {background-color: darkkhaki;}
}

@keyframes example2 {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

.body {
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-family: 'Days One', 'Arial';
}

.content {
    background-color: rgba(255, 255, 255, 0.5);
    color: cadetblue;
    position: sticky;
    width: 500px;
    margin: auto;
    max-width: 100%;
}

.header {
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.main {
    padding: 20px;
}

.footer {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
}

.keskitettynappi {
    border: none;
    padding: 30px;
    color: white;
    background-color: cadetblue;
    font-family: 'Days One';
}

.napinkeskitys {
    text-align: center;
}

.keskitetty {
    text-align: center;
    color: darkkhaki;
}

#demo {
    width: 450px;
    margin: auto;
    max-width: 100%;
    text-align: justify;
}

.kuvakotelo {
    text-align: center;
}

.kuva {
    width: 50%;
    animation-name: example2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.footernappi {
    border: none;
    padding: 20px;
    color: white;
    background-color: cadetblue;
    font-family: 'Days One';
}